*{
    margin: 0;
    text-decoration: none;
    list-style: none;
}
.header{
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px 30px;
}
.header a{
    color: white;
}
.container{
    max-width: 1512px;
    /* display: flex; */
    justify-content: space-between;
}
